<%- include ("../partials/header.ejs") %>


    <header id="header" class="jumbotron rounded-0">
        <div class="container text-light">
            <h1 class="display-4">Welcome to <span id="yelpTitle">YelpCamp</span></h1>
            <p>View Campgrounds from all Around the World</p>
            <p>
                <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add a New Campground</a>
            </p>
        </div>
    </header>
    <div class="container mb-4">
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top mb-2" src="<%= campground.image %>">
                        <div class="card-title">
                            <h5>
                                <%= campground.name %>
                            </h5>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <%- include ("../partials/footer.ejs") %>